.ng-valid[required] {
	border-left: 4px solid #42A948;
}

.ng-invalid {
	border-left: 4px solid #a94442;
}

input, textarea {
	margin: 0 auto;
	width: 80%;
}

input {
	width: 100%;
	padding: 7px 10px;
	margin: 4px 0;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #f8f8f8;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.container {
	padding: 20px;
	width: 550px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

input:focus {
	border: 1px solid #555;
}

table {
	margin: 0 auto;
	margin-top: 20px;
	width: 1300px;
}

td {
	margin: 70px;
	padding: 10px 0;
}

tr:NTH-CHILD(even) {
	background-color: #f2f2f2
}

tr:HOVER {
	background-color: #e6e6e6;
}

.columns_names:HOVER {
	background: none
}

.organizations_list {
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

thead {
	margin-bottom: 10px;
}

th {
	text-align: left;
}

.submitted_register {
	text-align: center;
	font-size: 5em;
}

.form-group {
	margin: 0 auto;
	margin: 10px;
}

h1 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.form_buttons {
	text-align: center;
}

.buttons {
	margin: 5px auto;
	width: 200px;
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #f1f1f1;
	border-radius: 4px;
	cursor: pointer;
}

.list {
	margin-top: 10px;
	width: 100%;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 7px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}